.row#button-row
  .span6.button-container
    %a{class: "green medium button", id:"upvote"}Crunch
  .span6.button-container
    %a{class: "red medium button", id:"downvote"}Smash
.row#vote-row
  .span6.upvotes
    %h2#upvotes
      +5
  .span6.downvotes
    %h2#downvotes
      \-7
.row
  .span6.logo-box.background-one
    %a#title-link
      %h3#company-title
    %a#image-link
      %img#company-image
  .span6
    .overview-box.background-one
      #company-overview

    
:javascript
  window.smash_or_crash.createSmasher()
