
.row
  = image_tag(@image, id:"company-image")
.row
  #company-overview
    = render inline: @overview
.row
  .span6
    %a{class: "blue medium button", id:"upvote"}Smash
  .span6
    %a{class: "blue medium button", id:"downvote"}Crash
    
:javascript
  window.smash_or_crash.createSmasher()
