.row
  = image_tag("crunch-smash.png")
.row
  = image_tag(@image)
.row
  = render inline: @overview
.row
  .span6
    %a{href:"/me", class: "blue medium button"}Smash
  .span6
    %a{href:"/me", class: "blue medium button"}Crash
