.row
  = image_tag(@image)
.row
  = render inline: @overview
.row
  .span6
    %a{href:"/vote?company=#{@name}&type=up", class: "blue medium button"}Smash
  .span6
    %a{href:"/vote?company=#{@name}&type=down", class: "blue medium button"}Crash
