.row.home-row
  .span12
  
    .ridiculous-picture
      %img{src:"assets/high-five.jpg"}
      
    .floating-header.background-one.padded
      %h2 Triple the odds that you achieve your fitness goals

      %a{href:"/me", class: "blue medium button"}Create a Group

    %a{href:"groups/hello"} My Group
    
.row.details-row

  .span4
    .feature-block.background-one.padded
      %img{src:"assets/random-subheader.jpg"}
      %h4 Feature 1
      %p
        Seriously, this site is off the hook.  I'm not even joking.  Tell your friends.
        
  .span4
    .feature-block.background-one.padded
      %img{src:"assets/random-subheader.jpg"}
      %h4 Feature 1
      %p
        Seriously, this site is off the hook.  I'm not even joking.  Tell your friends.
        
  .span4
    .feature-block.background-one.padded
      %img{src:"assets/random-subheader.jpg"}
      %h4 Feature 1
      %p
        Seriously, this site is off the hook.  I'm not even joking.  Tell your friends.