.row
  .span6.button-container
    %a{class: "green medium button", id:"upvote"}Smash
  .span6.button-container
    %a{class: "red medium button", id:"downvote"}Crash
.row
  .span6.logo-box.background-one
    %a#title-link
      %h3#company-title
    %a#image-link
      %img#company-image
  .span6
    .overview-box.background-one
      #company-overview

    
:javascript
  window.smash_or_crash.createSmasher()
